/* numbers */
.numbers {
    position: relative;
    background-image: url(../photos/background/background2.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 300px;
}

.numbers-item {
    padding: 100px 0;
    overflow: hidden;
}

.number-item {
    width: 25%;
    float: left;
    text-align: center;
}

.number-item .icon {
    color: var(--maincolor);
    margin-bottom: 15px;
} 

.number-item-title {
    font-weight: bold;
    font-size: 30px;
    color: var(--white);
}

.number-item-text {
    color : var(--white);
}
