/* pricing */
.pricing {
    
}

.pricing-items {
    overflow: hidden;
}

.pricing-item {
    float: left;
    width: 30%;
    padding: 40px 15px;
    border: 1px solid #e8e8e8;
    text-align: center;
}

.pricing-item.mg {
    margin: 0 5%;
}

.pricing-item-text {
    text-transform: uppercase;
    font-size: 17px;
    color: var(--gray-color);
    transition: 0.5s;
}

.pricing-per-month {
    width: 130px;
    height: 130px;
    padding: 20px 0;
    margin: 20px auto;
    border: 2px solid var(--maincolor);
    border-radius: 50%;
    transition: 0.5s;
}

.pricing-per-month .dollar {
    font-size: 50px;
}

.pricing-per-month .month {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
}

.pricing-list {
    list-style: none;
}

.pricing-list li {
    color: var(--gray-color);
    line-height: 1.8;
}

.pricing-item-purchase {
    background: none;
    border: 0;
    display: block;
    width: 140px;
    padding: 10px;
    margin: 15px auto 0;
    border: 2px solid var(--maincolor);
    color: var(--maincolor);
    font-size: 16px;
}

.pricing-item:hover .pricing-item-text {
    color: var(--maincolor);
}

.pricing-item:hover .pricing-per-month {
    color: var(--white);
}
